<app-conference-header-logo></app-conference-header-logo>

<a id="title"></a>

<app-conference-header [path]="'/conference/2022/cfp'"></app-conference-header>

<br/>
<h2>Call for Proposals</h2>

<h5 style="margin-bottom: 0;">Are you a rookie/first-time speaker?</h5>
<h5 style="margin-bottom: 0;">Are you thinking of speaking about something?</h5>
<h5>We would love to hear about it!</h5>

<ng-container *ngIf="this.nowEpoch < this.releaseEpoch then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
  <h5 style="margin-bottom: 0 !important;">The CFP will open when this timer expires!</h5>
  <h5>(February 1st, 2022)</h5>
  <app-timer [time]="this.time"></app-timer>
  <br/>
</ng-template>
<ng-template #elseTemplate>
  <ng-container *ngIf="this.nowEpoch < this.expireEpoch then elseThenTemplate; else elseElseTemplate"></ng-container>
  <ng-template #elseThenTemplate>
  <h5 class="mb-2">Submit a CFP here:</h5>
  <div class="d-flex justify-content-center">
    <app-social-button class="m-1 mt-auto"
      [text]="'CFP Form'"
      [url]="'https://forms.gle/gBQvZZFe7EYKCNrBA'"
      [faClass]="'fas fa-align-left'"
      [color]="'#F05537'"
      [border]='false'
      ></app-social-button>
  </div>
  <p class="mt-3 mb-1 coc-mention">This form is open until February 28th, 23:59 GMT+1 2022 (<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NTJhZnU5NTJ1Mmo0ZGJqbDRtc21tMjg4cHIgNDhyN3UxN2U1NWlmdDE5azc4M2Jidmw4bDhAZw&tmsrc=48r7u17e55ift19k783bbvl8l8%40group.calendar.google.com"><em class="far fa-calendar"></em> reminder</a>)</p>
  <p class="mt-1 mb-1 coc-mention">The above form uses Google Forms. A Google email address is not required to submit a CFP.</p>

  <p class="mt-1 coc-mention">In submitting a CFP you agree to the conference's <a target="_blank" href="/conference/2022/code-of-conduct">code of conduct</a>.</p>
  <h5 class="mt-4 mb-1">CFP Closes in:</h5>
  <app-timer [time]="this.time2"></app-timer>
  </ng-template>
  <ng-template #elseElseTemplate>
    <br/>
    <br/>
    <br/>
    <h5 class="mt-4 mb-4">The CFP is now closed.</h5>
  </ng-template>
  <br/>
</ng-template>
