.fancy-container {
  transform: rotate(-5deg);

  .fancy {
    font-family: Anton;
    width: fit-content;
    border-radius: 15px;
  }

  .bg-1 {
    background-color: #7405a8;
    color: #96ff0d;
  }
}
