<script>
  /* Demo purposes only */
  var snippet = [].slice.call(document.querySelectorAll('.hover'));
  if (snippet.length) {
    snippet.forEach(function (snippet) {
      snippet.addEventListener('mouseout', function (event) {
        if (event.target.parentNode.tagName === 'figure') {
          event.target.parentNode.classList.remove('hover')
        } else {
          event.target.parentNode.classList.remove('hover')
        }
      });
    });
  }
</script>

<div class="d-flex flex-column">
  <div class="d-flex flex-wrap justify-content-center">
    <figure class="snip1584">
      <img src="/assets/images/team/mrs-skelli.jpg" alt="Mrs Skelli"/>
      <figcaption>
        <h3>Eden Stroet,</h3>
        <h3>Mrs Skelli</h3>
        <h5>Community Owner</h5>
      </figcaption>
    </figure>
    <figure class="snip1584">
      <img src="/assets/images/team/atomicnicos.jpg" alt="AtomicNicos"/>
      <figcaption>
        <h3>Nicolas Boeckh,</h3>
        <h3>AtomicNicos</h3>
        <h5>Community Admin, Gateway Admin</h5>
      </figcaption>
    </figure>
    <figure class="snip1584">
      <img src="/assets/images/team/night.jpg" alt="Night"/>
      <figcaption>
        <h3>K Stroet,</h3>
        <h3>Night, Bugbot</h3>
        <h5>Community Co-Owner</h5>
      </figcaption>
    </figure>
    <figure class="snip1584">
      <img src="/assets/images/team/lucifer.jpg" alt="D4vid"/>
      <figcaption>
        <h3>D4vid, Lucifer</h3>
        <h5>Community Admin</h5>
      </figcaption>
    </figure>
    <figure class="snip1584">
      <img src="/assets/images/team/0x0elliot.jpg" alt="0x0Elliot"/>
      <figcaption>
        <h3>0x0Elliot</h3>
        <h5>Community Moderator, Gateway Owner</h5>
      </figcaption>
    </figure>
  </div>
</div>


<p>Conference Volunteers:</p>

<p>Thanks to these lovely volunteers who are helping make our conference possible!</p>
<ul>
<li>AtomicNicos#1404</li>
<li>Night👻#4206</li>
<li>(ASV) Mrs Skelli#9072</li>
<li>s4t4n#7820</li>
<li>Cyber Mobster#2010</li>
</ul>
