.event-title {
  font-size: medium;
  
  font-weight: bold;
  text-align: center;
  width: 90%;
}

.card {
  cursor: pointer;
}

.event-date {
  font-size: medium;
  font-family: 'Share Tech';
}

.event-time {
  font-size: small;
  font-family: 'Share Tech';
}

@media screen and (max-width: 768px) {
  .event-title {
    font-size: medium;
  }

  .event-date {
    font-size: medium;
  }

  .event-time {
    font-size: small;
  }
}


@media screen and (max-width: 400px) {
  .event-title {
    font-size: medium;
  }

  .event-date {
    font-size: small;
  }

  .event-time {
    font-size: smaller;
  }
}
