<div class="mt-4"></div>

<div class="header mb-4">
  <div class="w-100 row m-0 py-0 px-3 d-flex flex-row justify-content-between">
    <nav>
      <ul class="d-flex flex-row flex-wrap justify-content-center">
        <li [ngClass]="{'active': (this.path.localeCompare('/dovercon/2021/about') == 0)}"><a href="/dovercon/2021/about#title">About</a></li>
        <li [ngClass]="{'active': (this.path.localeCompare('/dovercon/2021/cfp') == 0)}"><a href="/dovercon/2021/cfp#title">Call for Proposals</a></li>
        <li [ngClass]="{'active': (this.path.localeCompare('/dovercon/2021/mentors') == 0)}"><a href="/dovercon/2021/mentors#title">Mentors</a></li>
        <li [ngClass]="{'active': (this.path.localeCompare('/dovercon/2021/speakers') == 0)}"><a href="/dovercon/2021/speakers#title">Speakers</a></li>
        <li [ngClass]="{'active': (this.path.localeCompare('/dovercon/2021/schedule') == 0)}"><a href="/dovercon/2021/schedule#title">Schedule</a></li>
        <li [ngClass]="{'active': (this.path.localeCompare('/dovercon/2021/sponsoring') == 0)}"><a href="/dovercon/2021/sponsoring#title">Sponsors</a></li>
        <li [ngClass]="{'active': (this.path.localeCompare('/dovercon/2021/code-of-conduct') == 0)}"><a href="/dovercon/2021/code-of-conduct#title">Code of Conduct</a></li>
        <li [ngClass]="{'active': (this.path.localeCompare('/dovercon/2021/team') == 0)}"><a href="/dovercon/2021/team#title">Conference Team</a></li>
      </ul>
    </nav>
  </div>
</div>
