<div class='d-flex flex-row justify-content-between'>
  <div class="col-sm-3 mb-3">
    <div class="btn btn-primary d-flex flex-column" (click)="this.goToContributionGuidelines()"><span>Want to contribute?</span><i class="fas fa-question-circle"></i></div>
  </div>
  <div class="col-sm-3 mb-3">
    <div class="btn btn-primary d-flex flex-column" (click)="this.toggleCompactView()"><span>Compact View</span><i class="fas fa-angle-double-right"></i></div>
  </div>
</div>
<div class="w-100 d-flex flex-row align-items-center justify-content-between">
  <div class="mx-auto mb-3 align-self-center">
    <h1 class="text-center">{{ this.title }}<br *ngIf="this.subtitle"/><span *ngIf="this.subtitle">{{ this.subtitle   }}</span></h1>
  </div>
</div>
<ng-container *ngIf="!this.compactView; then cardTemplate; else compactTemplate"></ng-container>
<ng-template #cardTemplate>
  <div *ngFor="let item of this.postsByYear | keyvalue: keyDescOrder" class="mt-1 year-section">
    <h2>Posts of {{ item.key }}</h2>
    <hr/>
    <!-- Container -->
    <div class="d-flex flex-row flex-wrap">
      <!-- Card -->
      <app-posts-card class="col-sm-4 mb-2" *ngFor="let item0 of item.value" [post]="item0"></app-posts-card>
    </div>
  </div>
  <div *ngIf="!this.maximumPostsLoaded" class="d-flex flex-row justify-content-center my-2 px-4">
    <div class="btn btn-primary mx-auto d-flex flex-column" (click)="this.loadMorePosts()"><span>Load more</span><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
  </div>
</ng-template>
<ng-template #compactTemplate>
  <hr/>
  <app-posts-card-compact-header></app-posts-card-compact-header>
  <div *ngFor="let item of this.postsByYear | keyvalue: keyDescOrder" class="mt-1 year-section">
    <!-- Container -->
    <div class="d-flex flex-column w-100">
      <!-- Card -->
      <app-posts-card-compact class="mb-1" *ngFor="let item0 of item.value" [post]="item0"></app-posts-card-compact>
    </div>
  </div>
</ng-template>
