<app-conference-header-logo></app-conference-header-logo>

<a id="title"></a>

<app-conference-header [path]="'/conference/2022/about'"></app-conference-header>

<h2>Aftermath</h2>

<p>You can see our playlist with all of the talks on <a target="_blank" href="https://www.youtube.com/playlist?list=PLUI-ug97ALy38dw8-1pkMexj_7qpjEbkH" rel="noopener"><em class="fas fa-external-link-square-alt"></em> this YouTube playlist</a>.</p>

<hr/>

<h2>The Digital Overdose Conference is back!</h2>
<br/>
<h3 class="text-center">When?</h3>

<h5>April 23rd and 24th, 2022</h5>

<h3 class="text-center">Where?</h3>

<h5>Online</h5>

<h3 class="text-center">Who?</h3>

<h5>Rookie / first-time speakers</h5>

<h3>What about?</h3>

<h5>Infosec, Cybersecurity, OSINT, DevOps, Tech, more?</h5>

<h3>Cost</h3>

<h5>Free</h5>

<h3>How to attend?</h3>
  <div class="d-flex justify-content-center">
    <div class='d-flex flex-column mt-3'>
      <a class='mx-auto' target='_blank'>
        <div class='btn btn-primary disabled' aria-disabled='true'>
          Registration closed
        </div>
      </a>
      <span class='mx-auto'>(event ended)</span>
    </div>
    <!--app-social-button class="m-1 mt-auto"
      [text]="'Get a (free) ticket'"
      [url]="'https://www.eventbrite.com/e/digital-overdose-conference-2-tickets-242037810607'"
      [faClass]="'fas fa-ticket-alt'"
      [color]="'#F05537'"
      [border]='false'
      ></app-social-button-->
  </div>
  <p class="mt-3 coc-mention">By acquiring a ticket you agree to the conference's <a target="_blank" href="/conference/2022/code-of-conduct">code of conduct</a>.</p>

<hr>

<h2>About</h2>

<p>In 2021, Digital Overdose organized and hosted its very first conference!</p>

<p>It showcased talks from 24 rookie speakers, mainly focused on information security but also: cybersecurity, OSINT, DevOps, tech, AI, etc.</p>

<p>We will continue with this formula with our second edition!</p>

<p>So if you're free on the 23rd and 24th of April (2022), then <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NmZlaGVqbDF1cmhjaHZva2I4bjBxM2tjcjIgNDhyN3UxN2U1NWlmdDE5azc4M2Jidmw4bDhAZw&tmsrc=48r7u17e55ift19k783bbvl8l8%40group.calendar.google.com"><em class="far fa-calendar"></em> save the date</a>, and feel free to mark yourself as attending on the <a target="_blank" href="https://www.linkedin.com/events/6886816570346115072/about/"><em class="fa fa-linkedin-square"></em> LinkedIn Event page</a>.</p>

<p>For more updates, follow us on <a href="https://twitter.com/Digit4lOverdose"><em class="fab fa-fw fa-twitter-square"></em> Twitter</a> and <a href="https://linkedin.com/company/digitaloverdose"><em class="fab fa-fw fa-linkedin"></em> LinkedIn</a> and don't hesitate to share with your friends and colleagues.</p>

<p>Our community is most active on  <a href="https://discord.gg/yTPvyub"><em class="fab fa-fw fa-discord"></em> Discord</a>, so if you want you can pop in and tell us "Hi, I'm here for the conference"!</p>

<br/>
