<header>
  <div class="w-100 row m-0 py-0 px-3 d-flex flex-row justify-content-between">
    <h1 class="ml-2 text-center">
      <a [routerLink]="['/home']">
        Digital Overdose
      </a>
    </h1>

    <nav>
      <ul class="nav-lists d-flex flex-row flex-wrap">
        <li class="nav-elements" [ngClass]="{'active': (this.currentPath.localeCompare('/home') == 0) || (this.currentPath.localeCompare('/') == 0)}"><a href="/home">Home</a></li>
        <li class="nav-elements" [ngClass]="{'active': (this.currentPath.localeCompare('/team')) == 0}"><a href="/team">Team</a></li>
        <li class="nav-elements" [ngClass]="{'active': (this.currentPath.localeCompare('/conference')) == 0}"><a href="/conference">Conference</a></li>
        <li class="nav-elements" [ngClass]="{'active': (this.currentPath.localeCompare('/posts')) == 0}"><a href="/posts">Posts</a></li>
      </ul>
    </nav>
  </div>
</header>
