header {
  z-index: 997;
  transition: all 0.5s ease-in-out;
  padding: 14px 0;
  background: #1e1146;
}

h1 {
  a {
    color: white;
    text-decoration: none;
  }
}

li.active {
  background: lighten($color: #1e1146, $amount: 5);
  border-radius: 5px;
}

li {
  a:hover {
    color: #60baff !important;
  }
}

li:not(.active) {
  a:hover {
    text-shadow: 0 0 1px #1e1146, 0 0 10px #0000FF;
    font-weight: bold;
  }
}


@media screen and (max-width: 768px) {
  header {
    padding: 4px 0 !important;

    ul {
      li {
        a {
          padding: 4px 10px !important;
        }
      }
    }
  }
}


@media screen and (max-width: 400px) {
  h1 {
    text-align: center;
  }
}
