header {
  z-index: 997;
  transition: all 0.5s ease-in-out;
  padding: 14px 0;
  background: #1e1146;
}

h1 {
  font-size: 2rem;
  a {
    color: white;
    text-decoration: none;
  }
}

li.active {
  background: lighten($color: hsl(255, 61%, 17%), $amount: 5);
  border-radius: 5px;
}

.header-logo {
  //display: none;
  height: 40px;
  width: 40px;
  //aspect-ratio: 1;
  background-image: url(/assets/images/cover.jfif);
  background-size: contain;
  background-repeat: no-repeat;
}

li {
  a:hover {
    color: #60baff !important;
  }
}

li:not(.active) {
  a:hover {
    text-shadow: 0 0 1px #1e1146, 0 0 10px #0000FF;
    font-weight: bold;
  }
}


@media screen and (max-width: 768px) {
  .header-title {
    margin: 0 auto;
  }
  header {
    padding: 4px 0 !important;

    nav {
      width: 100%;
    }

    div {
      h1 {
        margin: 0 auto !important;
        margin-bottom: .25rem !important;
      }
    }

    ul {
      display:flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        a {
          padding: 4px 10px !important;
        }
      }
    }
  }
}

