<app-conference-header-logo></app-conference-header-logo>

<a id="title"></a>

<app-conference-header [path]="'/conference/2021/cfp'"></app-conference-header>


<div class="my-4 p-1 important">
  <p class="m-0"><strong>As of March 8th, 2021 at 01:00 GMT+1, we've closed our call for proposals.</strong></p>
  <p class="m-0">The following is preserved for archival purposes.</p>
</div>
<h2>Call for Proposals</h2>

<p>Have we managed to pique your interest? Are you thinking of submitting a talk? That's awesome!</p>

<p>We have some good news then!<br/>From now until <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NmlsbnN0M2pndmoyMTRnazFyOTAydWlsdDIgNDhyN3UxN2U1NWlmdDE5azc4M2Jidmw4bDhAZw&tmsrc=48r7u17e55ift19k783bbvl8l8%40group.calendar.google.com"><i class="far fa-calendar"></i> March 7th 23:59 GMT+1</a>, you may submit a talk proposal to this address:
<a target="_blank" href="mailto://digitaloverdosecon+cfp@gmail.com">digitaloverdosecon+cfp@gmail.com</a>.</p>

<p>To make it nice and simple, we're thinking of <strong>30 minute</strong> talks (25 minutes for the actual talk and 5 minutes for a Q&A).</p>

<div class="my-2 p-1 important">
<p>And in the interest of making thinking about it as painless as possible, your proposal can be as simple as:</p>
  <ul>
    <li>A title</li>
    <li>The subject matter</li>
    <li>A short description</li>
    <li>Your name and any social media you're willing to share with us.</li>
  </ul>
</div>

<p>We will then forward the first three elements (and nothing more) to a blind panel, to make sure that everyone gets a fair shot at speaking for the first time!</p>
<br/>
