<app-conference-header-logo></app-conference-header-logo>

<a id="title"></a>

<app-conference-header [path]="'/conference/2022/schedule'"></app-conference-header>

<h2>Schedule</h2>

<ng-container *ngIf="(this.nowEpoch < this.releaseEpoch && !this.spoilers); then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
  <br/>
  <p class="text-center m-1 h4">Announcement in:</p>
  <app-timer [time]="this.time"></app-timer>

  <br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/>
</ng-template>
<ng-template #elseTemplate>
  <div class="d-flex flex-column">
    <div class="hr my-1"></div>
    <h3 class="text-center">Day 1: Saturday, April 23rd</h3>
    <app-schedule-con2022-blurb
      [startTimeCEST]='"09:30"'
      [endTimeCEST]='"09:40"'
      [title]='"Conference kick-off"'
      [description]='"The hosts welcome you to the conference and start the festivities."'
    ></app-schedule-con2022-blurb>
    <app-schedule-con2022-fragment [scheduleFragment]='this.day11'></app-schedule-con2022-fragment>
    <app-schedule-con2022-blurb
      [startTimeCEST]='"12:30"'
      [endTimeCEST]='"14:00"'
      [title]='"Break"'
    ></app-schedule-con2022-blurb>
    <app-schedule-con2022-fragment [scheduleFragment]='this.day12'></app-schedule-con2022-fragment>

    <app-schedule-con2022-blurb
      [startTimeCEST]='"18:35"'
      [endTimeCEST]='"18:45"'
      [title]='"Conference Day 1 Sendoff"'
    ></app-schedule-con2022-blurb>

    <div class="hr my-2"></div>
    <h3 class="text-center">Day 2: Sunday, April 24th</h3>
    <app-schedule-con2022-blurb
      [startTimeCEST]='"10:00"'
      [endTimeCEST]='"10:10"'
      [title]='"Conference Day 2 Kick-off"'
    ></app-schedule-con2022-blurb>
    <app-schedule-con2022-fragment [scheduleFragment]='this.day21'></app-schedule-con2022-fragment>
    <app-schedule-con2022-blurb
      [startTimeCEST]='"13:05"'
      [endTimeCEST]='"14:00"'
      [title]='"Break"'
    ></app-schedule-con2022-blurb>
    <app-schedule-con2022-fragment [scheduleFragment]='this.day22'></app-schedule-con2022-fragment>
    <app-schedule-con2022-blurb
      [startTimeCEST]='"18:35"'
      [endTimeCEST]='"19:00"'
      [title]='"Conference closing comments"'
    ></app-schedule-con2022-blurb>
    <app-schedule-con2022-blurb
      [startTimeCEST]='"19:00"'
      [endTimeCEST]='"20:30"'
      [title]='"Pub Quiz!"'
    ></app-schedule-con2022-blurb>
    <app-schedule-con2022-fragment [scheduleFragment]='this.day23'></app-schedule-con2022-fragment>
  </div>
  <br/>
</ng-template>
