.article-image {
  max-height: 300px;
  object-fit: cover;
  object-position: top;
}

.article-title {
  margin-bottom: 0;
  font-family: Dosis;
  font-weight: 800;
}

.article-dates {
  font-size: small;
}

.card-link-container {
  flex-wrap: wrap;

  .card-tag  {
    white-space: nowrap;
    overflow-x: hidden;
    padding: 4px;
    border-radius: 5px;
    margin: 1px;
    color: white !important;
    background-color: #0130ff;
    text-decoration: none;
  }
}

hr {
  border: 1px solid grey;
}

@media screen and (max-width: 768px) {
  .article-image {
    max-height: 150px;
  }
}

@media screen and (max-width: 400px) {
}
