
<p class='mt-2'>The Digital Overdose Community asks of its members to abide by a Code of Conduct. This is a minimum set of rules that allow every member, guest or volunteer to have a great time.</p>

<h2>TL;DR</h2>

<p>The Code of Conduct is as follows, and applies to all of the community spaces (our Discord server, the conference livestream, ...).</p>

<ul>
  <li>No harassment: Attempts to pressure, intimidate, defame, ... (non-exhaustive list) speakers, volunteers or members are not tolerated.</li>
  <li>No isms/phobias: Racism, sexism, ableism, homophobia, xenophobia, islamophobia, transphobia, ... (non-exhaustive list) directed at any person -- be they members, volunteers or unrelated to the community -- are not tolerated.</li>
  <li>No unethical/criminal behavior: Discussion, sale, marketing, distribution of unethical content or behavior is prohibited.</li>
  <li>No ban evasion: If you were banned, you may appeal. Evading a ban will result in you forfeiting the ability to appeal.</li>
  <li>No trolling/sealioning: Behavior likened to trolling or sealioning is not allowed.</li>
  <li>No marketing/advertising of private events/spaces: You may only do so with explicit approval from a community volunteer or of previously approved instances of private events or spaces.</li>
</ul>

<p class="mt-3">Violation of the aforementioned rules will result in your warning, removal or banning from the Community by our moderation team.</p>

<hr/>

<p>By joining the community's Discord server, you are subjected to the following rules, which you will have to accept upon joining.</p>

<hr/>

<h2>The wordy version</h2>

<p>Welcome to Digital Overdose! An ethical hacking server dedicated to providing help and resources for members and guests. We aim to create a large community that people can enjoy and find support or friends in. As an ethical hacking community we strive to adhere to Discord's Terms of Service and Guidelines! </p>
<p>Please be sure to read them if you're not already familar by following the links below:</p>

<p>ToS: <a href='https://discordapp.com/terms' target='_blank'>https://discordapp.com/terms</a></p>

<p>Guidelines: <a href='https://discordapp.com/guidelines' target='_blank'>https://discordapp.com/guidelines</a></p>

<p>With that being said, we also have our own rules. Please be sure to read them carefully, being in the server means you will automatically agree to them. The server staff is subject to remove you from the server should you violate any guidelines, terms of service, or server rules.</p>

<p>Rule 1: No illegal/unethical content.</p>

<p>Illegal and unethical content is defined as malware, or viruses shared amongst others, creating or asking to create game cheats, and anything similar. This also includes code/program stealing and academic integreity. That's a no-no.</p>

<p>Rule 2: Respect all members. Treat them with compassion and kindness. This is a server for learning, so please help guide or teach someone or direct them to resources if someone is misunderstanding something. This includes to not flash card people, or drop server invites/codes. Everyone is at different levels in their learning path and this field requires constant learning.</p>

<p>Rule 3: No isms/phobias. That includes but is not limited to: Racism, Sexism, Homophobia, Xenophobia, Islamphobia, Transphobia, and so on. This community is diverse, and will be kept warm and welcome for its members.</p>

<p>Rule 4:Do not ask for members or for staff to help you hack any accounts, websites, applications, games or etc. The behavior is illegal and not tolerated. This is an instant, and permanent ban.</p>

<p>Rule 5: No advertising without staff consent. Period.</p>

<p>Note for all users: All messages are recorded in this server for safety and transparency reasons. You have been warned.</p>

<p>By being in this server you are henceforth automatically agreeing to participate in this server under these rules. Failure to comply will result in immediate action. Staff will thoroughly enforce the rules. Should you not agree with said rules please escalate the matter properly from the chain of command. The chain of command will be listed below:</p>

<p>1. Community Managers: The Community Managers of the server. The are the only ones with admin privileges are top of the staff. They know the servers 'ins and outs' clearly and can concisely enforce the rules. Their decisions are final.</p>

<p>2. Community Volunteer: They are volunteers of this server are second in command to the Community Managers. They have every moderation privilege to ensure the safety of the server. Any issues outside of their bounds is escalated to Community Managers.</p>

<p>3. Helper: The Helper is a chat and mini-mod. Less privileges than a normal moderator, they take care of immediate issues should a mod not be online. They escalate any further actions to a Mod.</p>

<p><em>Example Appeal:</em></p>

<p>A Helper tells you that you are posting in the incorrect channel and removes your content. You believe this is a mistake. Therefore you polietly escalate this issue to a Community Volunteer, via ping or DM.</p>

<p><em>Example 2:</em></p>

<p>A Community Volunteer is abusing their powers and is muting people for not respecting their authority. You escalate this to an Community Manager. The manager takes appropriate action.</p>

<p>For STAFF: Should you need extra help, please go directly up the hierarchy to receive it should you need it, incase someone else isnt available. Each role has emergency commands for worst case scenarios.</p>

<p>Tutoring: Tutoring takes place on Friday evenings 8pm or 20:00 Amsterdam Time (GMT +2) It is first come first serve, we will not wait for you. You may come late! Any and all information provided and taught is for ethical purposes ONLY.</p>

<p>For more information about how to get started with hacking, type -beginner in the information-dump channel. TUTORING IS FREE.</p>

<p><em>What is considered illegal?</em></p>

<p>For instance anything that falls under the United States' Computer Fraud and Abuse Act, would be considered illegal. This means this server will not tolerate that. We respect all countries hacking laws, that are of course within reason (i.e China and North Korea are exceptions as well as any other dictatorship that completely outlaws it). Please keep that in mind.</p>
