body {
    margin: 0px;
    background: #0a001a;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22pt;
    font-weight: bold;
}

.container {
    background: #6a009b;
    padding: 30px;
    display: inline-block;
    border: 2px solid #fff;
    box-shadow: 0px 9px 10px -1px #000;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    padding: 12px;
    border: 2px solid #fff;
    background: #070012;
    color: #fff;
    outline: none;
    width: 700px;
    color: #f2f2f2;
    text-align: center;
}

p {
    text-align: center;
    width: 700px;
    margin-bottom: .5rem;
}
#response {
    margin-top: 50px;
    background: #320085;
    padding: 20px;
    border-left: 2px solid #fff;
    font-size: 0.8em;
    box-shadow: 0px 2px 7px -1px #000;
    text-align: center;
}

.green {
    color: #0dff5e;
}

.red {
    color: #ff2445;
}

.visible {
    display: block !important;
}