<div class="backdrop w-100 h-100 d-flex flex-grow align-self-stretch">
  <div class="w-100 d-flex align-self-stretch flex-column justify-content-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="home-title mx-auto my-2 p-3">Digital Overdose</h1>
      <a class="bot-app m-1 p-1" href="https://discord.com/yTPvyub">
        <div class="m-1 d-flex flex-row align-items-center">
          <div class="w-25 text-center my-auto">
              <span class="text-white"><i class="fab fa-discord fa-2x mx-auto"></i></span>
          </div>
          <div class="p-0 w-75 text-center">
            <span class="text-white">
              Join us on Discord
            </span>
          </div>
        </div>
      </a>
      <a class="bird-app m-1 p-1" href="https://twitter.com/d_overcon">
        <div class="m-1 d-flex flex-row align-items-center">
          <div class="w-25 text-center">
              <span class="text-white"><i class="fab fa-twitter fa-2x mx-auto"></i></span>
          </div>
          <div class="p-0 w-75 text-center">
            <span class="text-white">
              Follow us on Twitter
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
