.backdrop {
  background-image: url('/assets/images/cover.jfif') ;
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
}

.home-title {
  background-color: purple;
  color: white;
  border-radius: 10px;
  cursor: default;
  user-select: none;
}

.bird-app {
  background-color: #1DA1F2;
}

.socials-container {
  width: 90% !important;
}
