<div class="backdrop w-100 h-100 d-flex flex-grow align-self-stretch">
  <div class="w-100 d-flex align-self-stretch flex-column justify-content-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="mx-auto my-2">
        <h2 class="home-title mx-4 p-3 text-center">DIGITAL OVERDOSE</h2>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center mb-2 socials-container">
        <app-social-button class="m-1"
          [text]="'Join us on Discord'"
          [url]="'https://discord.gg/yTPvyub'"
          [faClass]="'fab fa-discord'"
          [color]="'#7289da'"
          ></app-social-button>
        <app-social-button class="m-1"
          [text]="'Follow us on Twitter'"
          [url]="'https://twitter.com/d_overcon'"
          [faClass]="'fab fa-twitter'"
          [color]="'#1DA1F2'"
          ></app-social-button>
      </div>
    </div>
  </div>
</div>
