<div class="intro-bg d-flex flex-column">
  <div class="mt-4 w-75 mx-auto">
    <div class="fancy-container d-flex flex-column justify-content-center align-items-center flex-box">
      <h1 class="fancy bg-1 text-center p-2 my-2">Digital Overdose</h1>
    </div>
  </div>

  <div class="intro-text d-flex flex-column justify-content-center mx-auto p-3">
    <p class="text-justify mb-2">Digital Overdose is a community focused around information security, cybersecurity, ethical hacking and tech in general, that aims to provide a space where anyone can join, discuss and interact on topics they are fond of.</p>
    <p class="text-justify">We are acutely aware that not everyone has had the opportunity to learn about some of the fundamentals and advanced notions of infosec, networking, OSINT and the very many domains that security professionals, practitioners or amateurs regularly delve in. This is why we have weekly tutoring sessions on such notions, usually hosted by <a href="https://twitter.com/mrs_skelli" target="_blank"><em class="fab fa-twitter-square"></em> Eden (Mrs. Skelli)</a> or sometimes <a href="https://twitter.com/AtomicNicos" target="_blank"><em class="fab fa-twitter-square"></em> Nicolas (AtomicNicos)</a> on our Discord.</p>
    <p class="text-justify mb-0">We believe that everyone should be able to partake in these activities without feeling endagered, targeted, harassed among other things that are sadly all too common in tech. This is why we take great care in fostering a warm, welcoming and nurturing environment to all, which we maintain by adopting an extremely pro-active policy when it comes to abuse, unethical activities and the various isms/phobias (e.g.: racism, sexism, transphobia, among many others).</p>
  </div>
</div>
<div class="separator-1 p-2"></div>
<div class="cal-tainer d-flex flex-row justify-content-center align-items-center p-2">
  <div class="cal-text col-sm-7 my-2 p-3">
    <h3>Events</h3>
    <p class="text-justify m-0">We regularly provide general tutoring sessions about various broad topics in information security for those that wish to expand or solidify their base of knowledge.</p>

    <p class="text-justify mt-2">You can find the entire calendar of events <a href="https://calendar.google.com/calendar/u/3?cid=N3YzY2MwazMzMjQ4amRjbXJtdnA3NWU2am9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" target="_blank"><em class="fas fa-calendar-alt"></em> here</a>.</p>
  </div>
  <div class="col-sm-1"></div>
  <div class="cal-frame col-sm-4">
    <app-calendar></app-calendar>
  </div>
</div>

<div class="separator p-2"></div>
<div class="soc-tainer d-flex flex-row justify-content-between  align-items-between p-2">
  <div class="col-sm-6 d-flex flex-column align-items-center justify-content-between flex-grow">
    <div class="soc-text my-2 p-3">
      <h3>Discord Server</h3>
      <p class="text-justify m-0">The aspect of our community that most of our users will be familiar with is of course our Discord server. This is where most of our members interact, where our tutoring sessions take place and essentially the heart of our community.</p>
    </div>
    <app-social-button class="m-1 mt-auto"
      [text]="'Join us on Discord'"
      [url]="'https://discord.gg/digitaloverdose'"
      [faClass]="'fab fa-discord'"
      [color]="'#7289da'"
      [border]='true'
      ></app-social-button>
  </div>
  <div class="col-sm-6 d-flex flex-column align-items-center justify-content-between flex-grow">
    <div class="soc-text my-2 p-3">
      <h3>Twitter Profile</h3>
      <p class="text-justify m-0">On our Twitter profile, we usually publish events relating to some events such as our own <a [routerLink]="['/conference']" target="_blank">conference</a> or other conferences aimed at people in tech, information security, cybersecurity and adjacent domains.</p>
    </div>
    <app-social-button class="m-1 mt-auto"
      [text]="'Follow us on Twitter'"
      [url]="'https://twitter.com/Digit4lOverdose'"
      [faClass]="'fab fa-twitter'"
      [color]="'#1DA1F2'"
      [border]='true'[border]='true'
      ></app-social-button>
  </div>
</div>

<div class="separator2 p-2"></div>
<div class="soc2-tainer d-flex flex-row justify-content-between  align-items-between p-2">
  <div class="col-sm-3 d-flex flex-column align-items-center justify-content-between flex-grow">
    <div class="soc-text my-2 p-3">
      <h3>Patreon Page</h3>
      <p class="text-justify m-0">Our Patreon is where the recordings of our tutoring sessions go to be seen at any time by our members. The donations collected are all reinvested into the community, no exceptions.</p>
    </div>
    <app-social-button class="m-1 mt-auto"
      [text]="'Check out our Patreon'"
      [url]="'https://www.patreon.com/digitaloverdosecon'"
      [faClass]="'fab fa-patreon'"
      [color]="'#f96854'"
      [border]='true'
      ></app-social-button>
  </div>
  <div class="col-sm-3 d-flex flex-column align-items-center justify-content-between flex-grow">
    <div class="soc-text my-2 p-3">
      <h3>LinkedIn Page</h3>
      <p class="text-justify m-0">Our LinkedIn page is used mostly to advertise our events, much like our Twitter. It also allows our members to link the community if they were to consider it valuable to their CV.</p>
    </div>
    <app-social-button class="m-1 mt-auto"
      [text]="'Follow us on LinkedIn'"
      [url]="'https://linkedin.com/company/digitaloverdose'"
      [faClass]="'fab fa-linkedin'"
      [color]="'#0077b5'"
      [border]='true'
      ></app-social-button>
  </div>
  <div class="col-sm-3 d-flex flex-column align-items-center justify-content-between flex-grow">
    <div class="soc-text my-2 p-3">
      <h3>YouTube Channel</h3>
      <p class="text-justify m-0">We use YouTube to host our videos, especially the recordings done at our own <a [routerLink]="['/dovercon']" target="_blank">conference</a>. In these kinds of events, we will usually stream there as well.</p>
    </div>
    <app-social-button class="m-1 mt-auto"
      [text]="'Subscribe to our channel'"
      [url]="'https://youtube.com/digitaloverdose'"
      [faClass]="'fab fa-youtube'"
      [color]="'#ff0000'"
      [border]='true'
      ></app-social-button>
  </div>
  <div class="col-sm-3 d-flex flex-column align-items-center justify-content-between flex-grow">
    <div class="soc-text my-2 p-3">
      <h3>GitHub Page</h3>
      <p class="text-justify m-0">GitHub is where we host various community projects, including this website!</p>
    </div>
    <app-social-button class="m-1 mt-auto"
      [text]="'Follow our GitHub'"
      [url]="'https://github.com/digital-overdose'"
      [faClass]="'fab fa-github'"
      [color]="'#333'"
      [border]='true'
      ></app-social-button>
  </div>
</div>
