<app-conference-header-logo></app-conference-header-logo>

<a id="title"></a>

<app-conference-header [path]="'/conference/2022/code-of-conduct'"></app-conference-header>

<br/>
<h2>Code of Conduct</h2>

<p>The Digital Overdose Conference asks of its organizers, volunteers, speakers and attendees (participants) to agree and abide by a Code of Conduct.</p>

<p>This is a minimum set of rules that will help everyone have a great time.</p>

<p>The Code of Conduct is as follows, and applies to all of the conference spaces (our Discord server, the livestream, the afterparty, social media responses).</p>

<ul>
  <li>Harassment &amp; isms/phobias</li>
  <ul>
    <li>Attempts to pressure, intimidate, defame, ... (non-exhaustive list) speakers, organizers or attendees are not tolerated.</li>
    <li>Offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, sustained disruption of talks or other events and unwelcome sexual attention directed at any person -- be they spekers, attendees, organizers or unrelated to the conference -- are not tolerated.</li>
  </ul>
  <li>Mature content</li>
    <ul><li>Sexual language and imagery is not appropriate for this event, including talks, related events, and online media.</li></ul>
  <li>Advertisements</li>
  <ul><li>The advertisement and/or promotion of companies, products, services or persons is not tolerated, with the exception being of conference sponsors and supporters, and this only by conference hosts and/or authorized volunteers.</li></ul>
</ul>

<p class="mt-3">If a participant engages in behavior that is in violation of this code of conduct, the conference organizers and/or volunteers will take any action they deem appropriate, including but not limited to their removal from the Conference and related spaces.</p>

<p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately.</p>

<p>In joining the community's Discord server, you will be presented with additional rules, which you will have to accept in order to join.</p>

<p>Additional questions may be directed to <a href="mailto://digitaloverdosecon+conduct@gmail.com">digitaloverdosecon+conduct@gmail.com</a>.</p>
