.event-timelocal {
  font-size: small;
}

.event-timezone {
  font-size: x-small;
}

.hr {
  border: .0125rem solid rgb(184, 184, 184);
}

.img-container {
  width: 80px;
}

img {
  max-height: 80px;
  max-width: 80px;
  margin-left: auto;
  margin-right: auto;
}

a.card-link {
  margin: 0 !important;
  padding: 0 !important;
}

@media screen and (max-width: 768px) {
  .speaker-details-container {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    gap: 5px;

    div * {
      text-align: center;
    }
  }

  .speaker-details-links {
    flex-direction: row !important;
    gap: 3px;
    justify-content: center;
    align-items: center;
    margin-left: 0 !important;
  }

  .speaker-details-name {
    margin-right: auto;
    width: 100%;
  }

  .card {
    padding: .5rem 1rem .5rem 1rem !important;
  }

  .card > div:nth-child(1) {
    padding-right: 3px;
  }
  .card > div:nth-child(2) {
    padding-left: 3px;
  }
  .img-container {
    margin-right: 0 !important;
  }

  .col-9 {
    flex: 0 0 66%;
    max-width: 66%;
  }

  .col-3 {
    flex: 0 0 33%;
    max-width: 33%;
  }
}
