.card-img-top {
  height: 100px;
  object-fit: cover;
}

.card-read-more {
  text-align: right;
  margin-left: auto;
  line-height: 1;
  letter-spacing: 0px;
  text-decoration: underline !important;
  color: rgba(96,6,6);
}

.card-tag, .card-author {
  z-index: 997;
  white-space: nowrap;
  overflow-x: hidden;
  padding: 4px;
  border-radius: 5px;
  margin: 1px;
  color: white !important;
}

.card-tag {
  background-color: #0130ff;
}

.card-author {
  background-color: #818181;
}
h6 {
  margin: 0;
  font-size: small;
  font-weight: 500;
}

.card-title {
  font-weight: bolder;
}

.card-link-container {
  flex-wrap: wrap;

  .card-tag, .card-author {
    white-space: nowrap;
    overflow-x: hidden;
    padding: 4px;
    border-radius: 5px;
    margin: 1px;
    color: white;
  }

  .card-tag {
    background-color: #0130ff;
  }

  .card-author {
    background-color: #818181;
  }

}

@media screen and (max-width: 768px) {
}


@media screen and (max-width: 400px) {
}
