<app-conference-header-logo></app-conference-header-logo>

<a id="title"></a>

<app-conference-header [path]="'/dovercon/speakers-edition-2021'"></app-conference-header>

<h2>Speakers</h2>

<p>The courageous rookies that have thrown their hat in the ring with a talk idea, overcoming multiple hurdles such as the infamous impostor syndrome, the creative woes of writer's block among other trials of the mind.</p>

<p>TBA 15th-17th of March 2021.</p>

<div class="d-flex flex-column">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="team-card m-2" appTeamCard *ngFor="let t of speakers" [ngStyle]="{'background-image': 'url(' + t.imageUrl + ')'}">
      <div class="card-caption">
        <h3>{{ t.name }}<span *ngIf="t.alias !== undefined">,</span></h3>
        <h3 *ngIf="t.alias !== undefined">{{ t.alias.join(', ') }}</h3>
        <h5>{{ t.description }}</h5>
        <div *ngIf="t.links != undefined" class="card-links w-75 d-flex flex-row flew-wrap justify-content-center mx-3">
          <a class="card-link" *ngFor="let l of t.links" href="{{ l.url }}" title="{{ l.label }}"><i class="{{ l.icon }}"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/>
