<app-conference-header-logo></app-conference-header-logo>

<a id="title"></a>

<app-conference-header [path]="'/conference/2022/mentors'"></app-conference-header>

<div class="my-4 p-1 important">
  <p class="m-0"><strong>As of April 24th, 2022 at 23:59 GMT+1, the conference has ended.</strong></p>
  <p class="m-0">The following is preserved for archival purposes and perpetuity.</p>
</div>

<h2>Mentors</h2>

<p>The fantastic people that have offered up some of their time to help the rookie speakers gain a footing in terms of self-confidence and short punctual reviews of their content to build up their presentation skills.</p>

<ng-container *ngIf="this.nowEpoch < this.releaseEpoch; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
  <p class="text-center m-1 h4">Announcement in:</p>
  <app-timer [time]="this.time"></app-timer>

  <br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/>
</ng-template>
<ng-template #elseTemplate>
  <div class="d-flex flex-column">
    <div class="d-flex flex-wrap justify-content-center mb-1">
      <div class="team-card m-2" appTeamCard *ngFor="let t of mentors" [ngStyle]="{'background-image': 'url(' + t.imageUrl + ')'}">
        <div class="card-caption">
          <h3>{{ t.name }}<span *ngIf="t.alias !== undefined">,</span></h3>
          <h3 *ngIf="t.alias !== undefined">{{ t.alias.join(', ') }}</h3>
          <div *ngIf="t.links != undefined" class="card-links w-75 d-flex flex-row flew-wrap justify-content-center mx-3">
            <a class="card-link" *ngFor="let l of t.links" href="{{ l.url }}" title="{{ l.label }}"><i class="{{ l.icon }}"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

