footer {
  background: #141611;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}


div.footer-top {
  background: rgba(96,6,6);
  padding: 20px 0;
}

div.footer-top {
  margin-bottom: 30px;
}

div.footer-top {
  h3 {
    font-size: 26px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 3px;
  }

  h3, h4 {
    color: #f8f8f8;
    text-decoration: underline;

  }
}

a {
  text-decoration: underline;
  color: white;
  transition: ease-in-out 0.3s;
}


a:hover {
  text-decoration: underline;
  color: lightblue;
}
