<footer class="pb-2 footer">
  <div class="footer-top">
    <div class="">
      <div class="mx-4 d-flex flex-row justify-content-center">
        <div class="col-md-4">
          <h3>Digital Overdose</h3>
          <p>DO Description</p>
          <h4>Contact Us</h4>
          <p>
            <strong>Email:</strong> &nbsp;<a href="mailto://digitaloverdosecon@gmail.com">digitaloverdosecon@gmail.com</a><br/>
          </p>

          <div class="social-links">
            <a href="https://twitter.com/Mrs_Skelli" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://github.com/Mrs-Skelli" class="google-plus"><i class="icofont-github"></i></a>
            <a href="https://www.linkedin.com/in/eden-stroet-b9b3b2201/" class="linkedin"><i class="icofont-linkedin"></i></a>
            <a href="https://discord.com/users/541409825410646019" class="twitter"><i class="icofont-skull-face"></i></a>
          </div>
        </div>

        <div class="col-md-4">
          <iframe src="https://ptb.discord.com/widget?id=687227857369432105&theme=dark" width="350" height="250" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <p>Generic footer.</p>
  </div>
</footer>
