<a class="app p-2" href="{{ this.url }}" target='_blank' [ngStyle]="{'background-color': this.color, 'border': this.border ? '2px solid black' : 'none' }">
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="text-center my-auto mx-2 p-1">
        <span class="text-white"><i class="{{ this.faClass }} fa-2x mx-auto"></i></span>
    </div>
    <div class="text-center my-auto mx-2 p-1">
      <h5 class="follow-text text-white m-0">
        {{ this.text }}
      </h5>
    </div>
  </div>
</a>
