<app-post>
  <p>You have decided that you wanted to contribute a post to the Digital Overdose website, and you are wondering how you could get it posted?</p>

  <p>Well, it is pretty easy!</p>

  <p>If it is your first time posting with us, we would like to help readers know who wrote the article, and as such we would want you to provide us with as much information as you are comfortable sharing in the list below.</p>

  <ul class="mb-4">
    <li>A name or an alias.</li>
    <li>A short description of what you do.</li>
    <li>As many links to social media / blogs that you would want to promote.</li>
  </ul>

  <p>All we need from you then is your article's structure:</p>

  <ul>
    <li>A post title.</li>
    <li>A short description of the article.</li>
    <li>The content of your article with all of its images (as a README file, a Google Document, a PDF or similar).</li>
  </ul>
</app-post>
