<app-post>
  <p>You have decided that you wanted to contribute a post to the Digital Overdose website, and you are wondering how you could get it posted?</p>

  <p>Well, it is pretty easy!</p>

  <p>You need to send an email to <a href="mailto://digitaloverdosecon+articles@gmail.com">digitaloverdosecon+articles@gmail.com</a> with the  information cited below. This protects both the author(s) of the article and the community by ensuring a level of traceability.</p>

  <p>If it is your first time posting with us, we would like to help readers know who wrote the article, and as such we would want you to provide us with some information as specified below.</p>

  <ul class="mb-4">
    <li>A name, a pseudonym or an alias.</li>
    <li>A short description of what you do (in life, for work, things like that).</li>
    <li>As many links to social media / blogs that you would want to promote.</li>
  </ul>

  <p>All we need from you then is your article's structure:</p>

  <ul>
    <li>A post title.</li>
    <li>A short description of the article.</li>
    <li>The content of your article with all of its images (as a README file, a Google Document, a PDF or similar).</li>
  </ul>

  <p>Naturally we have to make sure that these posts follow the community guidelines, which is why we do reserve ourselves the right to refuse that an article be posted on this website.</p>
</app-post>
