<app-conference-header-logo></app-conference-header-logo>

<a id="title"></a>

<app-conference-header [path]="'/dovercon/code-of-conduct'"></app-conference-header>

<h2>Code of Conduct</h2>

<p>Much like our general community, the Digital Overdose Conference asks of its participants to abide by a Code of Conduct. This is a minimum set of rules that allow every conference speaker, attendee, or organiser to have a great time.</p>

<p>The Code of Conduct is as follows, and applies to all of the conference spaces (our Discord server, the YouTube livestream, the afterparty stream).</p>

<ul>
  <li>No harassment: Attempts to pressure, intimidate, defame, ... (non-exhaustive list) speakers, organizers or attendees are not tolerated.</li>
  <li>No isms/phobias: Racism, sexism, ableism, homophobia, xenophobia, islamophobia, transphobia, ... (non-exhaustive list) directed at any person -- be they spekers, attendees, organizers or unrelated to the conference -- are not tolerated.</li>
</ul>

<p class="mt-3">Violation of the aforementioned rules will result in your removal from the Conference by our moderation team.</p>

<p>By joining the community's Discord server, you are subjected to additional rules, which you will have to accept upon joining.</p>
