<app-post>
  <p>This website does not collect any data on any visitors.</p>

  <h2>Website Hosting Service</h2>

  <p>However, visitors should be aware that a subset of information cited below is collected by the hosting service (<a href="https://pages.github.com/" target="_blank">GitHub Pages</a>) and the DDOS-mitigation and content delivery network service (<a href="https://www.cloudflare.com/" target="_blank">CloudFlare</a>), some of which can be viewed by any of the website administrators:</p>

    <ul>
      <li>Nicolas Boeckh (<a target="_blank" href="https://twitter.com/AtomicNicos"><i class="fab fa-twitter"></i> AtomicNicos</a>)</li>
      <li>Mrs. Skelli (<a target="_blank" href="https://twitter.com/Mrs_Skelli"><i class="fab fa-twitter"></i> Mrs_Skelli</a>)</li>
      <li>Mr. Stroet (<a target="_blank" href="https://twitter.com/BugBot4"><i class="fab fa-twitter"></i> BugBot4</a>)</li>
    </ul>

  <h4>Information collected by <a href="https://www.cloudflare.com/" target="_blank">CloudFlare</a></h4>

  <span class="mb-2">The following information can be viewed by the website administrator:</span>
  <ul>
    <li>IP Address</li>
    <li>User Agent</li>
    <li>Timestamp of Visit</li>
    <li>Content Visited</li>
    <li>Raw Logs</li>
  </ul>

  <p>The website administrator hereby guarantees they will not use any information collected by the hosting service for any purposes, be they business purposes, audience identification purposes, or other analytical purposes.</p>

  <h2>Website Indexing Service</h2>

  <p>This website uses the Google Search Console and meta tags in order to help the indexation of it's pages.</p>

  <p>Overview statistics such as performance and coverage can be viewed by the website administrator.</p>

  <p>Any other information collected by Google (Alphabet Inc.) is done so under the <a href="https://policies.google.com/privacy?hl=en-US" target="_blank">Terms of Service</a> of the Google Search Engine.</p>

</app-post>
