<h1>The Digital Overdose community is running a Rookie Conference !</h1>

<p>From now until March 7th 23:59 GMT+1, you may submit a talk proposal to this address:
digitaloverdosecon+cfp@gmail.com</p>

<p>Only one requirement for you to be eligible: You must never have spoken at a con before.</p>

<p>Your proposal can be as short as:</p>

<ul>
  <li>A title</li>
  <li>The subject matter</li>
  <li>A short description</li>
  <li>Your twitter handle</li>
</ul>


<p> The first three elements (and nothing more) will then be provided to a blind panel !</p>

<p>Additional stuffs !</p>
