<app-conference-header-logo></app-conference-header-logo>

<a id="title"></a>

<app-conference-header [path]="'/dovercon/sponsoring-edition-2021'"></app-conference-header>

<h2>Sponsoring Digital Overdose Conference</h2>

<p>What is a conference all about? Is it about the speakers? Indubitably. Is it about the mentors? They get to see the fruits of their efforts. Is it about the organizers? A bit, it is always very gratifying to see something you have helped build up grow into itself. Is it the attendees? They get to enjoy a moment full of new things to learn, and full of new faces.</p>

<p>But what do the people / organizations that help make this conference get out of it? They get visibility in a number of ways and you -- or your organization -- could .</p>

<p>In order to provide our speakers with well-deserved conference "swag" and its shipping, organizations can choose to sponsor the event at a flat rate of 250€, sent through EventBrite, an event ticket management platform.</p>

<h3>Perks</h3>

<ul>
  <li>Your organization's logo will appear on the stream overlay, and on the resulting stream and recording of the conference, which will both be made publicly available on YouTube.</li>
  <li>Your organization's name will receive shout-outs at certain break points during the conference.</li>
  <li>Your organization's logo will appear on any promotional video material we do for the conference.</li>
  <li>Your organization's logo will appear on this page, in a new section dedicated to sponsors (which will appear above this section).</li>
  <li>Your organization's logo will appear on any conference "swag" (t-shirts or hoodies) that we will order for the speakers, mentors and other conference contributors.</li>
</ul>

<h3>Traceability</h3>

<p>We realize that giving away 250€ might not be easy to justify, but we are endeavoring to ensure full transparency as to the usage of the sponsorship, which will be entirely dedicated to covering the costs of swag (t-shirts, hoodies, stickers and eventually challenge coins) and of its shipping to the speakers, mentors and other conference contributors. To this end, we will publish a public document detailing all of the expenses for the sake of transparency.</p>

<p>By using EventBrite as an intermediary, we would ensure an additional form of traceability and in the end make it easier for all parties involved.</p>
