@media screen and (max-width: 768px) {
  .post {
    flex-direction: column-reverse !important;
  }

  .post-sidebar, .post-body {
    padding: 0 !important;
  }

  .post-sidebar {
    max-width: 100% !important;
  }
}


@media screen and (max-width: 400px) {
}
