<div class="h-100 w-100 d-flex flex-column justify-content-between flex-wrap">
  <div class="post d-flex flex-row">
    <app-post-sidebar class="post-sidebar col-md-4 m-0 pl-1 pr-0" [authors]="this.authors"></app-post-sidebar>
    <app-post-body class="post-body col-lg-8 m-0 pr-1 pl-0"
      [title]="this.title"
      [tags]="this.tags"
      [imageUrl]="this.imageUrl"
      [created]="this.created"
      [edited]="this.edited"
    >
      <ng-content></ng-content>
    </app-post-body>
  </div>
</div>
