<div class="card">
  <img *ngIf="post.imageUrl" class="card-img-top" src="{{ post.imageUrl }}" alt="Card image">
  <div class="card-body">
    <h6 class="card-title mb-1"><em>{{ getMonth(+post.path.slice(5,7)) }} {{getDay(+post.path.slice(8, 10))}}, {{ post.year }}</em></h6>

    <h4 class="card-title">{{ this.stringify(post.title) }}</h4>
    <div class="d-flex flex-row card-link-container align-items-center mb-2">
      <span style="text-decoration: underline;">By: </span>&nbsp;
      <a class="card-author p-1 mx-1" *ngFor="let a of post.authors" [routerLink]="['/authors', a.name]">
        <span>{{ a.name }}</span>
      </a>
    </div>
    <p *ngIf="post.description"><span style="text-decoration: underline;">Description: </span>&nbsp;{{ post.description }}</p>

    <div class="d-flex flex-row card-link-container">
      <a class="card-tag p-1 mx-1" *ngFor="let t of post.tags" [routerLink]="['/tags', t.name]">
        <span>{{ t.name }}</span>
      </a>
    </div>
    <br/>
    <div class="d-flex flex-row justify-content-end">
      <a class="card-read-more" href="post/{{ post.year }}/{{ post.path }}">&gt;&gt;&gt; Read More</a>
    </div>
  </div>
</div>
