footer {
  background: #141611;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

div.footer-top {
  background: #1e1146;
  padding: 10px 0;
}

div.footer-top {
  margin-bottom: 10px;
}

div.footer-top {
  h3 {
    font-size: 26px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 3px;
  }

  h3, h4 {
    color: #f8f8f8;
    text-decoration: underline;

  }

  p {
    text-align: center;
    margin: 3px;
  }

  .description {
    font-weight: 500;
  }

  .socials-lead {
    margin-top: 10px;
    color: #c4c4c4;
    font-weight: 500;
  }
}

a {
  text-decoration: underline;
  color: white;
  transition: ease-in-out 0.3s;
}


a:hover {
  text-decoration: underline;
  color: lightblue;
}

.card-links {
  color: #bdbdbd;
  transition: 0.3ms ease-in-out;
  text-decoration: none !important;
  font-weight: bolder;
  margin: 0 10px;

  i {
    color: #5969fd
  }
}

.card-links:hover {
  color: #5969fd
}
