<footer class="pb-2 footer">
  <div class="footer-top d-flex flex-column justify-content-center">
    <p class="description">Digital Overdose is an information security and cybersecurity focused community for people of all levels of experience.</p>
    <p class="socials-lead">Find us here</p>
    <div class="d-flex flex-row flex-wrap justify-content-center">
      <div *ngFor="let l of links">
        <a class="card-links" href="{{ l.url }}"><i class="{{ l.icon }}"></i> {{ l.label }}</a>
      </div>
    </div>
  </div>
  <div class="center">
    <span><a [routerLink]="['/copyright']">&copy; Copyright Policy</a></span> /
    <span><a [routerLink]="['/privacy']"><i class="fas fa-user-secret"></i> Privacy Policy</a></span>
  </div>
</footer>
