
.year-section {
  h2, h3 {
    text-align: center;
  }

  hr.dark {
    color: #1f1f1f;
    border: 1px solid #1f1f1f99;
  }

  hr.clear {
    color: #f7f7f7;
    border: 1px solid #f7f7f799;
  }
}
